.episodes ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.episodes h1 {
  color: greenyellow;
  display: flex;
  font-family: fantasy;
  font-size: 50px;
  justify-content: center;
  padding: 2%;
}

.episodes a, p {
  text-align: center;
  color: greenyellow;
  display: flex;
  justify-content: center;
  text-decoration: none;
  flex-wrap: nowrap;
}


@media screen and (max-width: 680px) {

  .episodes li {
    list-style-type: none;
    width: max-content;
    padding: 1%;
  }

  .episodes li p {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
  }
}