body {
  background-color: whitesmoke;
}

.error-page {
  display: flex;
  justify-content: center;
  height: 80%;
  overflow: auto;
}

.error-page h2 {
  margin-top: 2%;
  text-align: center;
}

.error-page img {
  align-self: center;
  margin: 5%;
  width: 200px;
}
