.home-page {
  height: 80%;
  overflow: auto;
}

.home-persons {
  display: flex;
  justify-content: space-around;
  margin: auto;
  flex-wrap: wrap;
}

.home-persons li {
  align-content: center;
  text-align: center;
  display: grid;
  place-items: center;
  border-color: greenyellow;
  border-style: solid;
  margin: 3%;
  padding: 1%;
  list-style-type: none;
}

.home-persons li img {
  align-self: center;
  margin: 5%;
  width: 200px;
}

