.home-page {
  height: 80%;
  overflow: auto;
}

.home-persons {
  display: flex;
  justify-content: space-around;
  margin: auto;
  flex-wrap: wrap;
}

.home-persons li {
  align-content: center;
  box-shadow: 3px 3px grey, -1em 0 0.4em grey;
  display: grid;
  place-items: center;
  margin: 3%;
  padding: 1%;
  list-style-type: none;
  text-align: center;
}

.home-persons li img {
  align-self: center;
  margin: 5%;
  width: 200px;
}

.home-persons li:hover {
  -webkit-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
}

.home-page section {
  align-self: center;
  display: flex;
  flex-direction: column;
  margin: 1%;
}

.home-page section img {
  align-self: center;
  border-radius: 50%;
  margin: 2%;
  width: 30%;
}

.home-page section img:hover {
  -webkit-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
}

.home-page h1 {
  align-self: center;
  text-align: center;
}

@media screen and (max-width: 680px) {

  .home-persons li img {
    width: 100px;
  }

  .home-persons li {
    margin: 3%;
  }

  .home-page h1 {
    margin: 10%;
  }

  .home-page section img {
    width: fit-content;
  }

  .home-page input {
    margin-bottom: 5%;
  }
}